<section class="TodoSection">
  <div class="TodoSectionTitle">
    <%= link_to "Show your done and dusted todos", nil, class: "Show-remaining-todos" %>
    <%= link_to "Hide your done and dusted todos", nil, class: "Hide-remaining-todos" %>
  </div>

  <div class="remaining-todos">
    <% if todos.count == 0 %>
      <p style="font-size:14px">No Overdue todos completed yet!</p>

    <% else %>
      <ul class="remaining-todos-list">
        <% todos.all.each do |todo| %>
          <li class="TodoItem">
            <label class="TodoItem-container">
              <p> <%= todo.todo_text %> </p>
              <p class="TodoItem-dueDate"> <%= todo.due_date.to_s(:short) %> </p>

              <a href="javascript:void(0)" class="TodoItem-delete">
                <%= form_with(url: "/todos/#{todo.id}", method: "delete") do %>
                  <%= image_submit_tag("delete.svg", class: "icon", data: { confirm: "Are you sure you want to permanently delete the todo: '#{todo.todo_text}' from the list?" }) %>
                <% end %>
              </a>

            </label>
          </li>
        <% end %>
      </ul>
    <% end %>

  </div>
</section>
