<article>
  <div class="Title">
    <h1 class="TodoPage-title"><%= @current_user.first_name.capitalize %>'s To-do List</h1>
    <%= button_to "Sign-out", destroy_session_path, method: "delete", class: "Sign-out-button" %>
  </div>

  <%= form_with(url: "/todos", method: "post", class: "AddTodo") do %>
    <%= text_field_tag "todo_text", nil, placeholder: "What's next?", class: "AddTodo-text" %>
    <%= date_field_tag "due_date", nil, class: "AddTodo-date" %>
    <%= submit_tag "Add", class: "AddTodo-button" %>
  <% end %>

  <% if flash[:error] %>
    <p class="Flash-error Flash-error-todo">
      <%= flash[:error] %>
    </p>
  <% end %>

  <!-- Section for Remaining todos (visible only if link clicked) -->
  <%= render partial: "remaining-todos-section", locals: {
               todos: @todos.overdue.completed,
             } %>
  <!-- End of Remaining todos -->

  <!-- Section for Overdue -->
  <%= render partial: "todo-section", locals: {
               section_title: "Overdue",
               todos: @todos.overdue.not_completed,
               show_due_date: true,
             } %>
  <!-- End of Overdue -->

  <!-- Section for Due today -->
  <%= render partial: "todo-section", locals: {
               section_title: "Due Today",
               todos: @todos.due_today,
               show_due_date: false,
             } %>
  <!-- End of Due today -->

  <!-- Section for Due Later -->
  <%= render partial: "todo-section", locals: {
               section_title: "Due Later",
               todos: @todos.due_later,
               show_due_date: true,
             } %>
  <!-- End of Due Later -->
</article>
