<!DOCTYPE html>
<html>
  <head>
    <title>Todo Manager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" href="title-image.png" type="image/x-icon" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>
  </head>

  <body>
    <% if @current_user %>
      <% if flash[:welcome] %>
        <p class="Flash-welcome">
          <%= flash[:welcome] %>
        </p>
      <% end %>
    <% end %>

    <%= yield %>
  </body>
</html>
